





body {
    margin: auto;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.77'%3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;    padding-top: 5px;
    padding-bottom: 5px;
}

#backgroundContainer {
    background: url("../resources/backgrounds/shattered_@2X.png");
    border-radius: 3px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    padding-top: 20px;
    padding-bottom: 2em;
    float: left;
    width: calc(100% - 5px);
}


#footer p {
    text-align: right;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    font-family: sans-serif;
}

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li.languageSelector {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content li {
    float: initial;
}

.dropdown-content {
    position: absolute;
	display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Custom Pages */
#sidebar {
    float: left;
    width: 20%;
}

#sidebarRight {
    float: right;
    width: 20%;
}

#contentRightToSidebar {
    padding-left: 10px;
    width: calc(80% - 10px);
    float: right;
}

#contentLeftToSidebar {
    padding-right: 0px;
    width: calc(80% - 10px);
    float: left;
}

/* Body width media queries */
@media (min-width: 576px) { 

    body {
        max-width: 546px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #backgroundContainer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .content {
        padding-top: 20px;
        padding-bottom: 20px;
        width: calc(100% - 20px);
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    #contentNextToSidebar {
        padding-left: 25px;
        width: calc(80% - 25px);
    }
}

@media (min-width: 768px) { 

    body {
        max-width: 738px;
    }
}

@media (min-width: 992px) { 

    body {
        max-width: 962px;
    }
}

@media (min-width: 1200px) { 

    body {
        max-width: 1170px;
    }
}