
body {
    background-image: url("../resources/backgrounds/dark_wall_@2X.png");
    padding-top: 1em;
}

#backgroundContainer {
    background: url("../resources/backgrounds/shattered_@2X.png");
    border-radius: 3px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#content {
    padding-top: 2em;
    padding-bottom: 2em;
}


#footer p {
    text-align: right;
    font-style: italic;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.801);
    position: sticky;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: white;
    text-decoration: none;
}