
#layoutPageContainer {
    padding: 20px;
}

#layoutTileContainer {
    margin-top: 20px;
    margin-bottom: 50px;
}

.layout {
    display: inline-block;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    border: 5px solid white;
}

.layout:hover {
    border: 5px solid gray;
}

.layout.selected {
    border: 5px double black;
}

.layoutTileBackground {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-size: cover;
}

#layout1 {
    background-image: url("../../resources/thumbnails/style_default.PNG");
}

#layout2 {
    background-image: url("../../resources/thumbnails/style_flower.PNG");
}

#layout3 {
    background-image: url("../../resources/thumbnails/style_hexdark.PNG");
}

#layout4 {
    background-image: url("../../resources/thumbnails/style_business.PNG");
}

/* Input styling */
#layoutPageContainer input, select {
    width: calc(100% - 20px);
    max-width: 300px;
    padding: 5px;
    border-style: ridge;
    border-radius: 5px;
}

#layoutPageContainer input:focus, select:focus {
    outline: 0;
}

#custom-css-props>h3 {
    margin-top: 15px;
}

#custom-css-props>input {
    margin-left: 10px;
    margin-top: 5px;
}

#saveButton {
    margin-top: 40px;
}