
.rightManagementContainer
{
    display: block;
    margin: 0 auto;
    max-width: 730px;
}

.userTable {
    border: none;
    width: 100%;
    margin-top: 30px;
}


.userTable th,td {
    padding: 5px;
    padding-left: 10px;
}

.userTable .th {
    font-weight: 600;
}

/* Delete button styling */
.user-delBtn{
    width: 28px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    float: right;
}

.user-delBtn:hover{
    font-size: 22px;
    color: red;
}


/* The Modal (new user popup) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Overlay color */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

/* Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content styling */
#newUserModal input, select {
    width: calc(100% - 20px);
    padding: 5px;
    border-style: ridge;
    border-radius: 5px;
}

#newUserModal input:focus, select:focus {
    outline: 0;
}

#newUserModal p,button {
    margin-top: 10px;
}

#newUserModal #errorText {
    color: red;
    display: none;
}