@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

*{
	margin: 0;
	padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans';
    margin: 0 auto;
    float: left;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
	background-color: #222;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#header p{
	color: #BBB;
    font-size: 30px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    float: left;
    margin: 5px 5px;
}

.fa-sign-out-alt {
	color: #BBB;
    padding: 10px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    float: right;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.fa-sign-out-alt:hover{
    opacity: 0.7;
    cursor: pointer;
}

#navigation{
    position: fixed;         /* fixed zum mitscrollen*/
    width: 0px;
    background-color: #EEEEEE;
    z-index: 99;
    margin-top: 52px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-bottom-right-radius: 15px;
    opacity: 0.95;
}

#navigation li{
    list-style: none;
    display: none;
    font-size: 20px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#navigation li>i{
    width: 30px;
    margin-right: 10px;
    color: #222;
}

#navigation a{
    color: #222;
    text-decoration: none;
}

#navigation a:hover{
    color: #1565C0;
    text-decoration: underline;
}

.toggle-nav{
    z-index: 0;
    position: absolute;
    top: 109px;      /* calc: (#navigation height / 2) - (#toggle-nav height / 2) */
    right: -47px;
    padding: 10px;
    font-size: 30px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #222;
    color: #BBB;
    opacity: 0.3;
}

.toggle-nav:hover{
    cursor: pointer;
    opacity: 0.2;
}

#toggle-left{
    display: none;
}

#content{
    margin-top: 70px;
    width: 100%;
    height: calc( 100vh - 70px );
}

#preview{
    width: 100%;
}

iframe{
    width: 100%;
    height: calc( 100vh - 80px );
}

#media-toolbar{
    height: 50px;
    width: calc( 100% - 10px);
    background-color: #666;
    padding: 5px;
}

#form-media-upload{
    line-height: 50px;
    float: left;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
}

#media-toolbar input{
    border: none;
    padding: none;
    margin: none;
}

#media-searchBtn{
    cursor: pointer;
    border-radius: 5px;
    float: left;
}

#media-uploadBtn{
    line-height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6);
}

#media-uploadBtn:hover{
    opacity: 0.8;
}

#media-container{
    width: 100%;
}

.media{
    /*min-height: 300px;*/
    width: calc( 100% - 30px );
    padding: 15px;
}

.odd{
    background-color: #EEE;
}

.even{
    background-color: #CCC;
}

.media-imgContainer{
    max-height: 150px;
    width: 200px;
    margin: 0 auto;
}

.media-imgContainer img, video, i{
    max-height: 150px;
    max-width: 200px;
    margin: 0 auto;
}

.media-imgContainer i{
    height: 150px;
    width: 200px;
    line-height: 150px;
    font-size: 70px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.media-infos{
    width: 290px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.media-delBtn{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    text-align: center;
    vertical-align: middle;
}

.media-delBtn:hover{
    font-size: 22px;
    color: red;
}

/* Global button style */
.buttonStyle {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FFF;
    color: #333;
    border: 2px solid #222;
}

.buttonStyle:hover {
    background-color: #333;
    color: #D9D9D9;
}

.buttonStyle:active {
    background-color: rgb(141, 141, 141);
    border-style: outset;
}

.buttonStyle:focus {
    outline: 0;
}

.inputStyle {
    width: calc(100% - 20px);
    padding: 5px;
    border-style: ridge;
    border-radius: 5px;
}

.inputStyle:focus {
    outline: 0;
}

/* JQuery Ui Lists */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

/* Body width media queries */
@media (min-width: 576px) { 

    .wrapper {
        max-width: 546px;
    }
    

    .media{
        min-height: 150px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .media-imgContainer{
        float: left;
    }
    
    .media-infos{
        float: left;
        margin-left: 15px;
        margin-top: 0px;
    }
    
    .media-delBtn{
        float: right;
    }

    #media-toolbar{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (min-width: 768px) { 

    .wrapper {
        max-width: 738px;
    }

    #navigation{
        opacity: 1;
    }
    
    .media-infos{
        margin-left: 30px;
    }
}

@media (min-width: 992px) { 

    .wrapper {
        max-width: 962px;
    }
}

@media (min-width: 1200px) { 

    .wrapper {
        max-width: 1170px;
    }
    
    .media-infos{
        margin-left: 50px;
    }
}